.NewPost {
  box-sizing: border-box;

  min-height: 24px;

  margin: 8px 0;

  display: flex;

  border: 1px solid transparent;
}

.NewPost__button {
  box-sizing: border-box;
  
  width: 100%;

  padding: 8px;

  background-color: transparent;
  color: #666;
  border: 1px solid transparent;

  cursor: pointer;
}

.NewPost__button:hover {
  background-color: #fafafa;
  border-color: #e3e3e3;
  color: #000;
}


