.Post {
  box-sizing: border-box;

  min-height: 24px;

  margin: 8px 0;
  padding: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid transparent;
  
  cursor: pointer;
}

.Post:hover {
  background-color: #fafafa;
  border-color: #e3e3e3;
}

.Post--editable {
  padding: 0;
}

.Post--editable:hover {
  background-color: transparent;
  border-color: transparent;
}

.Post__buttons {
  display: none;
}

.Post:hover .Post__buttons {
  display: inline;
}

.Post__button {
  box-sizing: border-box;
  
  background-color: transparent;
  color: #666;
  border: 1px solid transparent;
  
  cursor: pointer;
}

.Post__button:hover {
  background-color: #fafafa;
  border-color: #e3e3e3;
  color: #000;
}

.Post__button--info:hover {
  background-color: #0000e3;
  color: #fff;
}

.Post__button--danger:hover {
  background-color: #e30000;
  color: #fff;
}

.Post__content {
  margin: 0;
  padding: 0;
}

