.App {
  text-align: left;

  width: 100vw;
  height: 100vh;
}

.App__upper {
  height: 66%;
}

.App__bottom {
  height: 34%;
}

.App__row {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.App__row > * {
  flex: 1;
}

.App__column {
  display: flex;
  flex-direction: column;
}

.App__column > * {
  flex: 1;
}
